{% extends "base.html" %}
{% load static %}

{% block content %}
<div style="margin-top: 200px;">
    <section class="main-content">
        <div>                
            <div class="container h-100">
                <div class="d-flex flex-row-reverse row h-100">
                    <div class=" mr-3 col-6 col-md-6 my-auto">
                        <h1 class="display-4 text-blue logo-font">
                            <strong> The perfect Speech for the perfect time!</strong>
                        </h1>
                        <div class="my-5">
                            <h4>
                                <a href="https://wa.me/353833679626" class="background-bg-head-btn btn-contact text-gold btn btn-lg text-uppercase py-3" target="_blank">
                                    Book a free call and Learn more!
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
</div>

<section class="section-margin-bottom">
    <div class="container mt-5 text-center">
        <div class="col-12 mb-4">
            <div style="margin-top: 150px;">
                <h3 class="text-blue">
                    Our most popular services:
                </h3>
            </div>
        </div>  
    </div>
    
    <div class="row mb-5">
        <div class="container col-sm-3 mb-5 popular-home">
            <div class="row justify-content-center">
                <div class="m-3 card-category mx-auto bg-white text-center shadow-lg mb-5">
                    <a href="{% url 'products' %}1" class="text-decoration-none text-black">
                        <img class="card-img-top img-fluid" src="https://smartspeaksolution.s3.eu-west-1.amazonaws.com/media/eulogy.jpg" alt="man dressed in black">
                        <p class="font-weight-bold text-blue mt-2 text-uppercase">Eulogy</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="container col-sm-3 mb-5 popular-home">
            <div class="row justify-content-center">
                <div class="m-3 card-category mx-auto bg-white text-center shadow-lg mb-5">
                    <a href="{% url 'products' %}5" class="text-decoration-none text-black">
                        <img class="card-img-top img-fluid" src="https://smartspeaksolution.s3.eu-west-1.amazonaws.com/media/vows.jpg" alt="woman holding a wedding vows">
                        <p class="font-weight-bold text-blue mt-2 text-uppercase">Weddings</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="container col-sm-3 mb-5 popular-home">
            <div class="row justify-content-center">
                <div class="m-3 card-category mx-auto bg-white text-center shadow-lg mb-5">
                    <a href="{% url 'products' %}8" class="text-decoration-none text-black">
                        <img class="card-img-top img-fluid" src="https://smartspeaksolution.s3.eu-west-1.amazonaws.com/media/birthday.jpg" alt="girl holding a candle">
                        <p class="font-weight-bold text-blue mt-2 text-uppercase">Special Birthdays</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


    <!--Newletter--> <!--https://bbbootstrap.com/snippets/bootstrap-responsive-subscribe-our-newsletter-form-81055470-->
    
    <section>
        <div class="newsletter-subscribe mt-5 container">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center newsletter">Subscribe to our Newsletter</h2>
                    <p class="text-center">Learn more about how to improve your public speaking skills!</p>
                </div>
                <form action="{% url 'subscribe' %}" method="post">
                    <div class="row d-flex justify-content-center">
                        {% csrf_token %}            
                                    
                        <div class="col-auto">
                            <input id="name" name="name" class="form-control" placeholder="Your Name">
                        </div>
            
                        <div class="col-auto">
                            <input id="email" name="email" type="email" class="form-control" placeholder="Email address">
                        </div>
            
                        <div class="col-auto">
                            <button type="submit" class="btn btncolor text-gold">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
{% endblock %}