<div class="collapse navbar-collapse background-bg-head" >
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-whitemr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown ">
            <a href="{% url 'products' %}?category=eulogies" class="logo-font font-weight-bold nav-link text-white mr-5">Eulogies</a>
        </li>
        <li class="nav-item dropdown ">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}?category=wedding" >Weddings</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}?category=special_occasions" >Special Occasions</a>
        </li>
        <li class="nav-item dropdown item-dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'gallery' %}" id="photos"> Photo Gallery</a>
        </li>
        <li class="nav-item dropdown item-dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'blog' %}" id="blog-link">Blog</a>
        </li>
    </ul>
</div>