<div class="collapse navbar-collapse background-bg-head" >
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-whitemr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown item-dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">  
                Eulogies
            </a>
            <div class="dropdown-menu bg-transparent text-gold border-0" aria-labelledby="parts-link">
                <a href="{% url 'products' %}?category=eulogies" class="dropdown-item">Eulogies</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <li class="list-inline-item nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="weddingservices" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <!--troquei a id--> 
                    Weddings
                </a>
            <div class="dropdown-menu bg-transparent text-gold border-0" aria-labelledby="tools-link">
                <a href="{% url 'products' %}?category=wedding" class="dropdown-item">Spouse's speech</a>
                <a href="{% url 'products' %}?category=wedding" class="dropdown-item">Parent of the Groom/Bride Speeches</a>
                <a href="{% url 'products' %}?category=wedding" class="dropdown-item">Wedding Party Speeches</a>
                <a href="{% url 'products' %}?category=wedding" class="dropdown-item">Wedding Vows</a>
            </div>
        </li>

        <li class="nav-item dropdown item-dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="specialoccasions" role="button" data-bs-toggle="dropdown" aria-expanded="false">  <!--troquei a id-->
                Special Occasions
                </a>
            <div class="dropdown-menu bg-transparent text-gold border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=special_occasions" class="dropdown-item">Anniversaries</a>
                <a href="{% url 'products' %}?category=special_occasions" class="dropdown-item">Retirements</a>
                <a href="{% url 'products' %}?category=special_occasions" class="dropdown-item">Special Birthdays</a>
                <a href="{% url 'products' %}?category=special_occasions" class="dropdown-item">Other Occasions</a>
            </div>
        </li>
        <li class="nav-item dropdown item-dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'blog' %}" id="blog-link">
                Blog
            </a>
        </li>
    </ul>
</div>