{% extends 'base.html' %} 
{% load static %}
{% block content %}

{% load crispy_forms_tags %}
<section class="text-center">
<h1>Delete Blog Post</h1>

<br>

<h3>Delete: {{ post.title }}</h3>
<div class="form-group text-blue">
    <form method="POST">
        {% csrf_token %}
        <br>
        <h5>Are you sure you want to delete this post?</h5>
        <br>
        <button class="btn btn-danger ">Delete Post</button>
        <a href="{% url 'blog' %}" class="btn btn-warning ml-2">Cancel</a>
    </form>
</div>
</section>

{% endblock content %}