{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 messages-views">
    <h2 class="text-center mb-4 message-box-view">Contact Messages</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.subject }}</td>
                    <td>{{ contact.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}