{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact-messages.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Contact Messages</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.email }}</td>
                <td>{{ contact.subject }}</td>
                <td>{{ contact.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}